/*Home Page Content*/
/*=============================*/
.leftIndent{
	padding-left:50px;
}

.rightIndent{
	padding-right:50px;
}


.smallyum{
	width: 25px;
	padding-bottom: 5px;
}

.mainPic{
	width: 100%;
}


.marketing{
	padding-top: 30px;
}

.mainImgCol{
	margin:0;
	padding:0;
}

