body, html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Didact Gothic', sans-serif;
	color:black;
}

.container{
	width:100%;
	height:100%;
	margin:0px;
	padding:0;
}

.container-fluid{
	width:100%;
	margin:0;
	padding:0;
}



.row{
	width:100%;
	padding:0;
	margin:0;
}

h6{
	font-size:25px;
	line-height:10px;
}

hr{
	line-height:0px;
}



.contentDisplay{
	margin-top:20px;
	margin-bottom:20px;
}


/*Main page - website components*/
/*===========================================*/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   border-bottom:3px solid #8bb640;
   padding-right:10px;   
   margin-bottom: 10px;
   text-align:center;
}

ul{
  list-style-type: none;
}

li{
	padding-right: 17px;
	font-size: 14px;
}


.btn{
	border: 0;
    background-color: black;
	padding: 0 30px;
    color: white;
	text-transform: uppercase;
	line-height: 70px;
	font-weight: 100;
}

.container-fluid{
	position:relative;
}

.navbar ul{
	color:#7ac8cb;
}


.mainlogo{
	position:absolute;
	left:45%;
	margin-top:10px;
	width:13%;
}

/*Side Bar*/
/*===========================================*/
#side {	
	height:650px;
	background-color:#afdb51;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	border-bottom:2px solid #dddddd;
	text-align:left;

}

#sideTitle{
	background-color:#353534;
	height:90px;
	margin:0;
	padding-right:5px;
	padding-top:10px;
	padding-left:10px;
	line-height: 0px;
	color:#90d300;
	margin-bottom:10px;
}

.leftAlign{
	text-align:left;
	margin:0;
	padding:0;
}
.rightAlign{
	text-align:right;
	margin:0;
	padding:0;
}


/*Food Component*/
/*===========================================*/
#foodDisplay{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	background-color:#a5a5a5;
	height:400px;
	margin:0;
	padding-right:0;
	overflow:scroll;
	margin-bottom:10px;
}

.foods /*.expirationDate*/{
	width:100%;
	height:50px;
	padding-top:15px;
	padding-left:10px;
	background-color:#ffffff;
	border-top:2px solid #e4fcb0;
	border-right:2px solid #e4fcb0;
	border-left:2px solid #e4fcb0;
	border-radius:2%;
	border-bottom:none;
	font-size:14px;
	font-weight:bold;
}



.foodName{
	float:left;
}

.expirationDate{
	margin-right:10px;
	float:right;
}

#foodInput{
	clear:both;
	width:100%;
	margin-left:0;
	padding-top:0;
	height:100px;
	background-color:#f1ffd3;
}

.form-group{
	margin:0;
}

.formInput{
	float:left;
	width:50%;
	height:50px;
	padding:5px;
}

#submitBtn{
	clear:both;
	color:#ffffff;
	border:none;
	background-color:black;
	width:100%;
}



/*Results Main Component*/
/*===========================================*/
.results {
	width:65%;
	background-color:#fcf9e3;
	margin-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:15px;
	height:650px;
	overflow:scroll;
}

#loginBackground {
	width:100%;
	height:80%;
}

/*Choices Components*/
/*===========================================*/
#choiceDisplay{
	text-align:center;
	color:#afdb51;
}

#choiceDisplay button{
	margin-top:40px;
	width:40%;
	color:black;
	border:none;
	border-radius:0;
	margin-right:5px;
}

.greenBtn{
	background-color:#afdb51;
	color:black;
}

.yellowBtn{
	background-color:#f9dd04;
	color:black;
}


/*Recipes Components*/
/*===========================================*/

.recipe{
	height:200px;
	margin-bottom:10px;
	background-color:#e4fcb0;
	text-align:center;
}

.recipe h6{
	text-align:center;
	line-height:18px;
	font-size:13px;
}

/*.recipeImg{
	width:100%;
	height:100%;
}*/

.recipeLnk{
	font-size:10px;
	font-weight:bold;
}
.thumbnail {
    position: relative;
    padding:0;
    border:none;
}

.thumb-img {
    margin: 0em;
    padding: 0em;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
   /* display: block;*/
    width: 100%;
    height:200px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.caption {
	font-weight:bold;
    text-align: center;
    padding: 10px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.thumbnail:hover .thumb-img {
    opacity: 0.1;
    /*-webkit-filter: grayscale(100%);*/
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0px;
    padding: 0px;
}

.thumbnail:hover {
    background-color: rgba(197, 249, 84, .2);
}

.thumbnail:hover .caption {
	color:#444444;
    /*background-color:rgba(110, 11, 191,.3);*/
    opacity: 1;
}


/*map component*/
/*===========================================*/
#donateIntroRow{
	margin-left:10px;
	margin-bottom:20px;
}

#donateDescription{
	text-align:justify;
}

#mapIntroImg{
	width:100%;
}

#mapDisplay{
	text-align:center;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	background-color:white;
}

#mapSearch{
	width:100%;
	border:none;
	border:2px solid #90d300;
	color:#90d300;
}

#mapSearchRow{
	margin-left:10px;
}

#mapBtn{
	background-color:black;
	color:white;
}

#mymap{
	margin-left:10px;
	width:100%;
	height:500px;
}

/*Footer*/
/*===========================================*/
.footer{
	width: 100%;
	height: 56px;
	background: black;
	color: white;
	text-align: center;
	letter-spacing: 5px;
	padding-top: 35px;
	font-size: 13px;
	bottom: 0px;
	border-width: bolder;
}

.btmtext{
	color: white;
}

#bottom{
	padding-top: 15px;
	letter-spacing: 1.5px;
	border-width: thin;
	color: #808080;
	font-size: 10px;
}


